<span style="font-size: 50px;color:#F99135;margin-left:250px"><strong>FeedBack</strong></span>
<div class="col-sm-8" style="margin-left:250px;margin-top: 50px">
    Nếu bạn thấy hệ thống trang web của chúng tôi có trục trặc,<br>
    hay những vấn đề ảnh hưởng đến chất lượng thi cử của bạn.<br>
    Xin hãy điền ý kiến và gửi về chúng tối<br>
    <form style="margin-top: 50px">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="Firstname">
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="Lastname">
            </div>
            <div class="form-group col-md-6">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <input type="number" class="form-control" placeholder="Phonenumber">
            </div>
        </div>
        <textarea cols="50" rows="10" placeholder="Phản hồi ý kiến"></textarea><br>
        <button class="btn btn-sm btn-info">Submit</button>
    </form>

</div>