<span style="font-size: 50px;color:#F99135;margin-left:700px"><strong>Login</strong></span>
<div class="col-sm-8" style="margin-left: 530px;margin-top:20px">
    <div *ngIf='!checklogin'>
        <div class="input-group mb-3 col-sm-6">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1" [(ngModel)]="userNameCheck" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="input-group mb-3 col-sm-6">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="Password" aria-label="Username"
                aria-describedby="basic-addon1" [(ngModel)]="passwordCheck" [ngModelOptions]="{standalone: true}">
        </div>
        <button class="btn  btn-info" style="margin-left: 215px;margin-bottom: 20px"
            (click)='checkLogin()'>Login</button><br>
        <button class="btn btn-sm btn-info" style="margin-left: 230px;margin-bottom: 20px">Or</button><br>
        <button class="col-sm-2 btn btn-sm btn-primary" style="margin-left: 70px">Facebook</button>
        <button class="col-sm-2 btn btn-sm btn-danger" style="margin-left: 30px">Google</button>
    </div>
    <div class="card finish" *ngIf='checklogin'>
        <div class="card-header title">
            Login
        </div>
        <div class="card-body">
            <h5 class="card-title">Login Success</h5>
            <hr>
        </div>
    </div>
</div>