<span style="font-size: 50px;color:#F99135;margin-left:550px"><strong>Change Password</strong></span>
<div class="col-sm-8" style="margin-left: 530px;margin-top:20px">
    <div class="input-group mb-3 col-sm-6">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="input-group mb-3 col-sm-6">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
        </div>
        <input type="password" class="form-control" placeholder=" New Password" aria-label="Username"
            aria-describedby="basic-addon1" [(ngModel)]="newPass" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="input-group mb-3 col-sm-6">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
        </div>
        <input type="password" class="form-control" placeholder="Enter your password again" aria-label="Username"
            aria-describedby="basic-addon1" [(ngModel)]="rePass" [ngModelOptions]="{standalone: true}">
    </div>
    <button class="btn btn-lg btn-info" style="margin-left: 180px" (click) = 'changePass()'>Change</button>
</div>