<span style="font-size: 50px;color:#F99135;margin-left:250px"><strong>Contact</strong></span>
<div class="col-sm-8" style="margin-left:250px;margin-top: 50px">
    <p>Nếu bạn muốn liên hệ với chúng tối,chúng tôi đã ở đây!<br>
        Xin hãy điền đầy đủ thông tin vào mẫu bên dưới để chúng tôi có thể liên lạc với bạn sớm nhất</p>
    <span><strong>Phone:</strong></span>
    <span style="color:#F99135">0328360521</span><br>
    <span><strong>Address:</strong></span>
    <span style="color:#F99135">12 Trịnh Đình Thảo,quận Tân Phú, tp.HCM</span><br>
    <form style="margin-top: 50px">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="Firstname">
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="Lastname">
            </div>
            <div class="form-group col-md-6">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <input type="number" class="form-control" placeholder="Phonenumber">
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="Job Title">
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="Company name">
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="inputAddress" placeholder="Address">
        </div>
        <textarea style="border-radius: 3px" cols="50" rows="5" placeholder="Question/Comment"></textarea><br>
        <input type="checkbox"><span>Yes, I'd like to receive news about your latest products, updates, and events.</span><br>
        <button class="btn btn-sm btn-secondary">Submit</button>
    </form>
</div>