<span style="font-size: 50px;color:#F99135;margin-left:580px"><strong>Forgot Password</strong></span>
<div class="col-sm-8" style="margin-left: 530px;margin-top:20px">
    <div *ngIf = '!pass'>
        <div class="input-group mb-3 col-sm-6">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1"  [(ngModel)]="userNameCheck" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group col-md-6">
            <input type="email" class="form-control" placeholder="Email"  [(ngModel)]="emailCheck" [ngModelOptions]="{standalone: true}">
        </div>
        <button type="submit" class="btn btn-lg btn-info" style="margin-left: 180px" (click) ="forgotPass()">Send Code</button>
    </div>
    <div class="card finish" *ngIf = 'pass'>
        <div class="card-header title">
            Your Password
        </div>
        <div class="card-body">
            <h5 class="card-title">{{forgotPass()}}</h5>
            <hr>
        </div>
    </div>
</div>
