
    <span style="font-size: 50px;color:#F99135;margin-left:250px"><strong>About Us</strong></span>
    <div class="card col-sm-8" style="margin-left: 250px;margin-top: 50px">
        <div class="card-body">
            <span style="font-size: 30px"><strong>Wellcome to Online Training</strong></span><br>
            <p>Online Training là trang web thi Online nổi tiếng về các ngôn ngữ lập trính hiện nay.<br>
            Một trang web giúp bạn có thể kiểm tra độ hiểu biết, sự thành thạo, muốn thử thách bản thân mình hơn</p>
            
            <hr>
            <span style="font-size: 30px"><strong>About Online Training</strong></span><br>
            <p>
                Web chúng tôi đã được thành lập hơn 3năm, và đã và đang<br> 
                có chỗ đứng trong những cuộc thi trắc nghiệm trên toàn thế giới.<br>
                Với hơn 50 giáo viên phụ trách ra câu hỏi, cập nhật thông tin về ngôn ngữ<br>
                Nên các bạn có thể yên tâm rằng kiến thức của mình sẽ không bị đứng một chỗ
            </p> 
            <hr>

        </div>
      </div>
