<span style="font-size: 50px;color:#F99135;margin-left:250px"><strong>Quest & Answer</strong></span>
<div class="card col-sm-8" style="margin-left: 250px;margin-top: 50px">
    <div class="card-body">
        <span style="font-size: 30px"><strong>Vì sao tôi nên thi ở trang web của bạn?</strong></span><br>
        <p>Trang web chúng tôi đã và đang khẳng định được chất lượng thi cử và độ chuẩn xác trong khâu chấm điểm<br>
        Nên bạn có thể yên tâm lựa chọn web chúng tôi để tiến hành thi cử</p>
        <hr>
        <span style="font-size: 30px"><strong>Tôi muốn phản hồi ý kiến thì phải làm như thế nào?</strong></span><br>
        <p>
            Trong thời gian thi cử, nếu bạn thấy chúng tôi còn thiếu sót về vấn đề gì thì có thể gửi phản hồi,góp ý cho chúng tội<br>
            <a [routerLink]="['feedback']">Tại đây</a>
        </p>

    </div>
</div>